<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'stylePage', :media => 'screen' %>
	

  </head>
  <body>
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">[Welcome Back, Username] </a></h1>
		</div>
		


	</div>
	<div id="menu">
		<ul>
	      <li><%= link_to "Home", home_path %></li>
	      <li><%= link_to "Profile", profile_path %></li>
	      <li><%= link_to "Contacts", contacts_path %></li>
	      <li><%= link_to "Calendar", calendar_path %></li>
	      <li><%= link_to "Discussions", discussions_path %></li>

		</ul>
	</div>


	<div id="page">
    <%= yield %>

		      
	</div>
	
  </body>
<div id="footer">
	<p>Copyright (c) 2011 www.something.com. All rights reserved.</p>
</div>
<%= debug(params) if Rails.env.development? %>

</html>